@using System.Globalization
@using Shared_Class_Vivo_Apps.Services
@using Newtonsoft.Json
@using System.ComponentModel
@using BlazorBootstrap
@using Microsoft.AspNetCore.Components.Forms;
@inherits InputBase<DateTime?>

<div class="input-area @CssClass" style="@Style" >
    <label for="@Id">@LabelText</label>
    <InputDate id="@Id" @attributes="AdditionalAttributes" @bind-Value="@CurrentValue" />
    <div class="bar"></div>
</div>
<ValidationMessage For="ValidationFor" class="text-danger" />