@namespace Shared_Razor_Components.VivoCustomComponents
@typeparam T
@using System.IO.Compression;
@using Radzen.Blazor;
@using Microsoft.FluentUI.AspNetCore.Components;
@using Microsoft.JSInterop;
@using Shared_Static_Class.Models
@using Microsoft.AspNetCore.Components.Web

<div class="apply-component">
    <fieldset class="@($"{(IsOpened ? "opened" : "closed")} {(FormValidated ? "" : "check-invaild")}")" id="@this.GetHashCode()">
        <span style="@(!FormValidated ? "" : "display:none")" class="icon-check-invaild">
            *
        </span>
        <legend @onclick=@(() => IsOpened = !IsOpened )>
            @Header
        </legend>
        <div style="@(!IsOpened ? "display:none" : "")">
            @Body
        </div>
        <div style="@(IsOpened ? "display:none" : "")">
            @ClosedBody
        </div>
    </fieldset> 
</div>