@namespace Shared_Razor_Components.VivoCustomComponents
@typeparam T
@inherits InputSelect<T>

@using System.Globalization
@using Shared_Class_Vivo_Apps.Services
@using Newtonsoft.Json
@using System.ComponentModel
@using BlazorBootstrap
@using Microsoft.AspNetCore.Components.Forms;

<div class="input-area @CssClass" style="@Style">
    <div class="icon-select">
        @Icon
    </div>
    <label for="@Id">@LabelText</label>
    <InputSelect id="@Id" @bind-Value="CurrentValue" TValue=T class="form-control">
        @foreach (var item in Data)
        {
            <VivoSelectOption T="T" Option="item.Value" Text="@item.Key" />
        }
    </InputSelect>
    <div class="bar"></div>
</div>
@if (Context != null)
{
    <ValidationMessage For="ValidationFor" class="text-danger" />
}