@using System.Globalization
@using Shared_Class_Vivo_Apps.Services
@using Newtonsoft.Json
@using System.ComponentModel
@using BlazorBootstrap
@using Microsoft.AspNetCore.Components.Forms
@inherits InputBase<string>

<div class="input-area @CssClass" style="@Style">
    <label for="@Id">@LabelText</label>
    <InputText id="@Id" @attributes="AdditionalAttributes" @bind-Value="@CurrentValue" disabled=@Disable />
    <div class="bar"></div>
</div>
@if (Context != null)
{
    <ValidationMessage For="ValidationFor" class="text-danger" />
}