@namespace Shared_Razor_Components.VivoCustomComponents
@typeparam T
@inherits InputSelect<T>

@using System.Globalization
@using Shared_Class_Vivo_Apps.Services
@using Newtonsoft.Json
@using System.ComponentModel
@using BlazorBootstrap
@using Microsoft.AspNetCore.Components.Forms;

<div class="input-area @CssClass" style="@Style">
     <div class="icon-select">
        @Icon
    </div>
    <label for="@Id">@LabelText</label>
    @if (Rounded)
    {
        <div class="bar-rounded">
        </div>
    }

    <InputSelect ValueChanged="@ValueChanged" ValueExpression="@ValueExpression" Value="@CurrentValue"
                 DisplayName="@DisplayName" id="@Id" TValue=T class="form-control">
        <option value="" selected>Selecione</option>
        @foreach (var item in Data)
        {
            <VivoSelectOption T="T" Option="item.Value.Value" Text="@item.Value.Text" />
        }
    </InputSelect>

    @if (!Rounded)
    {
        <div class="bar"></div>
    }
</div>
@if (Context != null)
{
    <ValidationMessage For="ValidationFor" class="text-danger" />
}