@using Microsoft.JSInterop
@using Shared_Static_Class.Converters 
@using Microsoft.AspNetCore.Components.Web
<style>
    #Full-page {
        position: fixed;
        width: 100vw;
        height: 100vh;
        min-width: auto;
        margin: auto;
        top:0;
        background-color: rgb(0, 0, 0, .9);
        text-align: center;
        z-index: 99999 !important;
        opacity: 1;
        transition: all 0.8s ease;
    }

    #CloseButton2 {
        position: absolute;
        top: 20px;
        right: 35%;
        padding-left: 5px;
        font-size: 2rem;
        color: #ffffff;
        cursor: pointer;
        transition: color 0.5s;
    }

        #CloseButton2:hover,
        #CloseButton2:focus {
            color: darkred;
            transform: scale(1.3);
        }

    /*style apenas do profile card*/

    .card-container {
        width: 300px;
        height: 430px;
        /* background: #FFF; */
        background: linear-gradient(to top, #CB6CE6, #004AAD,#004AAD);
        border-radius: 6px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        box-shadow: 0px 1px 10px 1px #000;
        overflow: hidden;
        display: inline-block;
    }

    .image-container {
        background: white;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        padding: 5px;
        transform: translate(100px,100px);
    }

        .image-container img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }

    .lower-container {
        height: 280px;
        background: #FFF;
        padding: 5px;
        /* padding-top: 40px; */
        text-align: center;
    }

        .lower-container h3, h4 {
            box-sizing: border-box;
            line-height: .6;
            font-weight: lighter;
        }

        .lower-container h4 {
            color: #7F00FF;
            opacity: .6;
            font-weight: bold;
        }

        .lower-container p {
            font-size: 16px;
            color: gray;
            margin-bottom: 15px;
        }

        .lower-container .btn {
            padding: 12px 20px;
            background: #7F00FF;
            border: none;
            color: white;
            border-radius: 30px;
            font-size: 12px;
            text-decoration: none;
            font-weight: bold;
            transition: all .3s ease-in;
        }

            .lower-container .btn:hover {
                background: transparent;
                color: #7F00FF;
                border: 2px solid #7F00FF;
            }

    /*test flip*/

    ::selection {
        color: #fff;
        background: linear-gradient(to top, #CB6CE6, #004AAD,#004AAD);
    }

    .wrapper {
        height: 70%;
        width: 25%;
        left: 35%;
        top: 15%;
        position: relative;
        transform-style: preserve-3d;
        perspective: 1000px;
    }

        .wrapper .card {
            position: absolute;
            height: 100%;
            width: 100%;
            /*   padding: 5px; */
            /*  background: #fff; */
            background: linear-gradient(to top, #CB6CE6,#004AAD,#004AAD );
            border-radius: 10px;
            transform: translateY(0deg);
            transform-style: preserve-3d;
            backface-visibility: hidden;
            box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
            transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        }

        .wrapper:hover > .front-face {
            transform: rotateY(-180deg);
        }

        .wrapper .card img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

        .wrapper .front-face {
            display: flex;
            align-items: center !important;
            justify-content: center;
            flex-direction: column;
        }

        .wrapper .back-face {
            display: flex;
            /*   align-items: center; */
            justify-content: space-evenly;
            flex-direction: column;
            transform: rotateY(180deg);
        }

        .wrapper:hover > .back-face {
            transform: rotateY(0deg);
        }

        .wrapper .front-face img {
            /*   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8); */
            top: 30% !important;
            height: 150px;
            width: 150px;
            /*    padding: 5px; */
            border-radius: 50%;
            /*  background: linear-gradient(375deg, #CB6CE6, #CB6CE6);  */
        }

    .logoCard {
        align-content: center !important;
        height: 60px !important;
        width: 60px !important;
        /*   margin-right: 17px !important; */
    }

    .wrapper .front-face .info {
        text-align: center;
        padding-top: 15px !important;
    }

    .front-face .info .title {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 0;
    }

    .front-face ul {
        display: flex;
    }

        .front-face ul a {
            display: block;
            height: 40px;
            width: 40px;
            color: #fff;
            text-align: center;
            margin: 0 5px;
            line-height: 38px;
            border: 2px solid transparent;
            border-radius: 50%;
            background: linear-gradient(375deg, #004AAD, #004AAD);
            transition: all 0.5s ease;
        }

            .front-face ul a:hover {
                color: #004AAD;
                border-color: #004AAD;
                background: linear-gradient(375deg, transparent, transparent);
            }

    .front-face p {
        color: white;
        margin-bottom: 0rem !important;
    }

    .back-face p {
        color: white;
        font-size: 15px;
    }

    .back-face br {
        font-size: 12px;
    }

    .info p {
        font-size: 15px !important;
    }

    .info br {
        font-size: 13px !important;
    }
</style>
@if (Opened)
{
    <div id="Full-page">
        <span id="CloseButton2" class="bi bi-x-circle" style="z-index: 1000;"
        @onclick="@(()=> JSRuntime.InvokeVoidAsync("CloseCardView",DotNetObjectReference.Create(this)))"></span>

        <div class="wrapper">

            <div class="card front-face">
                <div class="" style="top: 20px!important">
                    <Blazorise.Image Style=" margin:auto" Border="Blazorise.Border.RoundedCircle"
                           Source="@(User.UserAvatar != null ? "data:image/png;base64," + SharedConverter.ConvertFileToString(User.UserAvatar) : "images/usericon.png")">
                    </Blazorise.Image>
                </div>

                <div class="info">
                    <div class="title;" style="color:white; font-size: 30px !important;">
                        <p>
                            @(User.DISPLAY_NOME)

                            <br style="font-size: 20px; "> @(User.MATRICULA.ToString("D3"))
                        </p>

                    </div>
                </div>

                <div class="info">
                    <p style="font-size:20px!important;">
                        <br style="font-size: 20px!important; margin-bottom: 0rem !important;">
                    </p>
                </div>

                <img class="logoCard" src="/icone-vivox.png">
            </div>

            <div class="card back-face">

                <p>
                    Nome <br> @(User.NOME.ToLower())
                </p>
                <p>
                    Email <br> @(User.EMAIL.Split()[0].ToLower())
                </p>
                <p>
                    Cargo <br> @(User.CARGO.GetDisplayName())
                </p>
                <p>
                    PDV <br>@(User.PDV.Split()[0].ToLower())
                </p>
                <p>
                    CANAL <br>@(User.CANAL.GetDisplayName())
                </p>

                <p style="font-size: 10px!important; height: 0px!important;">
                    Automação NE
                </p>

            </div>
        </div>
    </div>
}