@using Microsoft.JSInterop
@using Shared_Static_Class.Converters 
@using Microsoft.AspNetCore.Components.Web         

@if (Opened)
{
<style>
    #Full-page {
        position: fixed;
        width: 100vw;
        height: 100vh;
        min-width: auto;
        margin: auto;
        top:0;
        background-color: rgb(0, 0, 0, .9);
        text-align: center;
        z-index: 99999 !important;
        opacity: 1;
        transition: all 0.8s ease;
    }

    #CloseButton2 {
        position: absolute;
        top: 20px;
        right: 35%;
        padding-left: 5px;
        font-size: 2rem;
        color: #ffffff;
        cursor: pointer;
        transition: color 0.5s;
    }

        #CloseButton2:hover,
        #CloseButton2:focus {
            color: darkred;
            transform: scale(1.3);
        }

        html, body {
            height: 0% !important;
            margin: 0;
            padding: 0;
        }

        #FullCard {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(0,0,0,.9);
            text-align: center;
            z-index: 1000 !important;
            opacity: 0;
            transition: opacity 0.8s ease;
        }

            #FullCard.show {
                opacity: 1;
            }

        #FullImage2 {
            padding: 24px;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            /*  margin: auto;
                        display: block; */
            border-radius: 35px;
        }

        #CloseButton2 {
            position: absolute;
            top: 20px;
            right: 35%;
            padding-left: 5px;
            font-size: 2rem;
            color: #ffffff;
            cursor: pointer;
            transition: color 0.5s;
        }

            #CloseButton2:hover,
            #CloseButton2:focus {
                color: darkred;
                transform: scale(1.3);
            }

        .card-container {
            width: 300px;
            height: 430px;
            /* background: #FFF; */
            background-color: #CB6CE6;
            border-radius: 6px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            box-shadow: 0px 1px 10px 1px #000;
            overflow: hidden;
            display: inline-block;
        }

        /* .upper-container {
                        height: 150px;
                        background: #7F00FF;
                    } */

        .image-container {
            background: white;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            padding: 5px;
            transform: translate(100px,100px);
        }

        .image-container img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }

    .lower-container {
        height: 280px;
        background: #FFF;
        padding: 5px;
        /* padding-top: 40px; */
        text-align: center;
    }

        .lower-container h3, h4 {
            box-sizing: border-box;
            line-height: .6;
            font-weight: lighter;
        }

        .lower-container h4 {
            color: #7F00FF;
            opacity: .6;
            font-weight: bold;
        }

        .lower-container p {
            font-size: 16px;
            color: gray;
            margin-bottom: 15px;
        }

        .lower-container .btn {
            padding: 12px 20px;
            background: #7F00FF;
            border: none;
            color: white;
            border-radius: 30px;
            font-size: 12px;
            text-decoration: none;
            font-weight: bold;
            transition: all .3s ease-in;
        }

            .lower-container .btn:hover {
                background: transparent;
                color: #7F00FF;
                border: 2px solid #7F00FF;
            }


        /*test flip*/

        ::selection {
            color: #fff;
            background-color: #CB6CE6;
        }

        .wrapper {
            height: 70%;
            width: 25%;
            left: 35%;
            top: 15%;
            position: absolute;
            transform-style: preserve-3d;
            perspective: 1000px;
        }

            .wrapper .card {
                position: absolute;
                height: 100%;
                width: 100%;
                /*   padding: 5px; */
                /*  background: #fff; */
                background-color: #e231b3 !important;
                border-radius: 10px;
                transform: translateY(0deg);
                transform-style: preserve-3d;
                backface-visibility: hidden;
                box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
                transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
            }

        .wrapper:hover > .front-face {
            transform: rotateY(-180deg);
        }

        .wrapper .card img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

        .wrapper .front-face {
            display: flex;
            align-items: center !important;
            justify-content: center;
            flex-direction: column;
        }

        .wrapper .back-face {
            display: flex;
            /*   align-items: center; */
            justify-content: space-evenly;
            flex-direction: column;
            transform: rotateY(180deg);
        }

        .wrapper:hover > .back-face {
            transform: rotateY(0deg);
        }

        .wrapper .front-face img {
            /*   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8); */
            top: 30% !important;
            height: 150px;
            width: 150px;
            /*    padding: 5px; */
            border-radius: 50%;
            /*  background: linear-gradient(375deg, #CB6CE6, #CB6CE6);  */
        }

    .logoCard {
        align-content: center !important;
        height: 60px !important;
        width: 60px !important;
        /*   margin-right: 17px !important; */
    }

    .wrapper .front-face .info {
        text-align: center;
        padding-top: 15px !important;
    }

    .front-face .info .title {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 0;
    }

    .front-face ul {
        display: flex;
    }

            .front-face ul a {
                display: block;
                height: 40px;
                width: 40px;
                color: #fff;
                text-align: center;
                margin: 0 5px;
                line-height: 38px;
                border: 2px solid transparent;
                border-radius: 50%;
               @*  background: linear-gradient(375deg, #004AAD, #004AAD); *@
                transition: all 0.5s ease;
            }

                .front-face ul a:hover {
                    color: #CB6CE6;
                    border-color: #CB6CE6;
                    background: linear-gradient(375deg, transparent, transparent);
                }

    .front-face p {
        color: white;
        margin-bottom: 0rem !important;
    }

    .back-face p {
        color: white;
        font-size: 15px;
    }

    .back-face br {
        font-size: 12px;
    }

        .infoTop {
            font-size: 10px !important;
        }

        .info br {
            font-size: 10px !important;
        }

        .svg-icon {
            fill: white !important;
            height: 100px;
            width: 40% !important;
        }

        .infoFrontCard {
            padding: 5px;
        }

        .svg-icon {
            margin-top: 65px;
            margin-bottom: 15px;
        }

    </style>
    <div id="Full-page">

        <a id="CloseButton4" class="bi bi-person-lock" style="z-index: 1000; right: 39%;!important" href="update-senha-user" @onclick="@(()=> JSRuntime.InvokeVoidAsync("CloseCardView",DotNetObjectReference.Create(this)))"> </a>

        <div id="CloseButton2" class="bi bi-x-circle" style="z-index: 1000;" @onclick="@(()=> JSRuntime.InvokeVoidAsync("CloseCardView",DotNetObjectReference.Create(this)))"></div>

        <a id="CloseButton3" class="bi bi-pencil-square" style="z-index: 1000; right: 31%;" href="edit-user" @onclick="@(()=> JSRuntime.InvokeVoidAsync("CloseCardView",DotNetObjectReference.Create(this)))"> </a>


        <div class="wrapper">

            <div class="card front-face">

                <img class="svg-icon" style="border-radius: 0%; filter: grayscale(100%) invert(100%) brightness(110%);" src="cardLogoVivo.png">

                <div class="" style="top: 20px!important">
                    <Blazorise.Image Style=" margin:auto" Border="Blazorise.Border.RoundedCircle"
                           Source="@(User.UserAvatar != null ? "data:image/png;base64," + SharedConverter.ConvertFileToString(User.UserAvatar) : "images/usericon.png")">
                    </Blazorise.Image>
                </div>

                <div class="info" style=" width: 70%; padding-bottom: 10%;">
                    <div class="title;" style="color:white;">

                        <div class="infoFrontCard" style=" font-size: 20px!important; font-weight: 700;">
                            @NomeCard(User.NOME)
                        </div>

                        <div class="infoFrontCard" style=" font-size: 18px!important;">
                            RE @(User.MATRICULA)
                        </div>

                        <div class="infoFrontCard" style=" font-size: 18px!important; margin-bottom: 10px;">
                           @*  @(User.CARGO.GetDisplayName()) *@
                           @CargoCard(User.CARGO.GetDisplayName())
                        </div>

                        <div class="infoFrontCard" style=" font-size: 15px!important; margin-right: 18px;">
                            <i class="bi bi-telephone-fill" style="margin-right: 8px;"></i> 81-982505210
                        </div>

                        <div class="infoFrontCard" style="display: flex; justify-content: center; align-items: baseline !important;">
                            <div style="font-size: 14px!important; display:flex">
                                <i class="bi bi-envelope" style="margin-right: 17px;"></i> @(User.EMAIL.ToLower())
                            </div>
                        </div>

                    </div>
                </div>

                <div class="info">
                    <p style="font-size:20px!important;">
                        <br style="font-size: 20px!important; margin-bottom: 0rem !important;">
                    </p>
                </div>
            </div>

            <div class="card back-face">

                

            </div>
        </div>
    </div>
}
@code{
    public class UserInfo
    {
        public string Nome { get; set; }
    }

    
    UserInfo nome = new UserInfo() { Nome = "Nome Sobrenome" };

    
    string NomeCard(string nomeCompleto)
    {
        string[] partesNome = nomeCompleto.Split(' ');
        return partesNome[0] + " " + partesNome[partesNome.Length - 1]; 
    }

    string CargoCard(string CargoCompleto)
    {
        string[] partesNome = CargoCompleto.Split(' ');
        return partesNome[0];
    }

}